.genreSelector {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    padding: 16px;
    white-space: nowrap;
    justify-content: center;
}

.genreButton {
    padding: 8px 16px;
    border: none;
    background-color: #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.4s;
}

.genreButton:hover {
    background-color: #bbb;
}