.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 72px;
}

.headerContainer {
    width: 100%;
    height: 150px;    
}

.imgContainer {
    position: relative;
    width: 100%;
    height: 288px;
    border-radius: 24px 24px 0 0;
    background: url('/public/images/capa.png') no-repeat;
    background-size: cover; /* Faz a imagem cobrir toda a área da div */
    background-position: center; /* Centraliza a imagem */
}

.profilePicture {
    position: absolute;
    bottom: -50%;
    transform: translateY(-50%);
    left: 100px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: aqua;
}

.sectionContainer {
    display: flex;
    gap: 24px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-default {
    max-width: 400px;
    background: #000;
    color: #FFF;
}

.btn-outline {
    max-width: 400px;
    background: transparent;
    border: 1px solid #333;
}

@media (max-width: 768px) {
    .main {
        padding: 24px;
    }

    .headerContainer {
        height: 100px;
    }

    .imgContainer {
        height: 200px;
    }

    .profilePicture {
        width: 120px;
        height: 120px;
    }

    .sectionContainer {
        flex-direction: column;
        gap: 16px;
    }

    .btn {
        padding: 8px 12px;
        font-size: 14px;
    }
    
}